.customer-dashboard .grid-4x4 {
  display: grid !important;
  gap: 24px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.customer-dashboard .person-card {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0.75rem;
  cursor: pointer;
}

.customer-dashboard .person-card .vip-tag {
  width: fit-content;
  background: rgba(191, 118, 21, 1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  color: #FFFFFF;
}

.customer-dashboard .person-card-4x4 {
  width: 100%;
  height: 260px;
  border-radius: 0.25rem;
  padding: 2rem;
}

.customer-dashboard .person-image {
  width: 196px;
  height: 196px;
  object-fit: contain;
}

.customer-dashboard .profile-person-image {
  width: 448px;
  height: 448px;
  border-radius: 0.75rem;
  object-fit: contain;
}

.customer-dashboard .profile {
  position: relative;
  width: calc(100% - 712px);
  height: 100%;
  margin-left: auto;
  padding: 2rem;
}