$theme-btn-height: 45px;
$theme-btn-width: 160px;
$btn-icon-height: 40px;
$btn-icon-width: 40px;
$btn-md-width: 200px;
$btn-sm-width: 130px;
$btn-xs-width: 100px;
$btn-add-width: 25px;
$btn-add-height: 25px;
$btn-in-cell-width: 115px;
$btn-in-cell-height: 30px;

// btn-reset: 清除 button 的所有預設樣式
.btn-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn-return {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    float: left;
}

.btn-primary,
.btn-danger {
    min-width: $theme-btn-width;

    &:disabled {
        background-color: $secondary !important;
        border-color: $secondary !important;
        opacity: 0.3;
    }
}

.btn-w-md {
    min-width: $btn-md-width;
}

.btn-w-normal {
    min-width: $theme-btn-width !important;

}

.btn-w-sm {
    min-width: $btn-sm-width;
}

.btn-w-xs {
    min-width: $btn-xs-width;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-add {
    width: $btn-add-width;
    height: $btn-add-height;
    min-width: $btn-add-width;
    min-height: $btn-add-height;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.btn-icon {
    width: $btn-icon-width;
    height: $btn-icon-height;
}

.btn-in-cell {
    height: $btn-in-cell-height;
    width: 100% !important;
    max-width: $theme-btn-width !important;
    font-size: 14px;
}

// 清除 vxe-button 的格式
.btn-reset-vxe {
    color: $primary !important;
    border: 1px solid $primary !important;
    background: transparent !important;
    height: 28px !important;
}

.btn-remove-vxe:focus {
    color: $primary !important;
    border: 1px solid $primary !important;
    outline: none;
}

.btn-in-cell-primary,
.btn-in-cell-danger,
.btn-in-cell-warning {
    background: transparent !important;
    height: $btn-in-cell-height;
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
    -webkit-transition-property: color, background-color !important;
    transition-property: color, background-color !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}

.btn-in-cell-primary {
    color: $primary !important;
    border: 1px solid $primary !important;
}

.btn-in-cell-danger {

    color: $danger !important;
    border: 1px solid $danger !important;
}

.btn-in-cell-warning {

    color: $warning !important;
    border: 1px solid $warning !important;
}

.btn-in-cell-primary:hover {
    color: white !important;
    background-color: $primary !important;
    border: 1px solid $primary !important;
}

.btn-in-cell-danger:hover {
    color: white !important;
    background-color: $danger !important;
    border: 1px solid $danger !important;
}

.btn-in-cell-warning:hover {
    background-color: $warning !important;
    border: 1px solid $warning !important;
}

.btn-detail {
    border-radius: 5px;
    padding: 4px 8px;
}

// .buttons-group {
//     flex-wrap: nowrap;
// }

// @media (max-width: 1462px) {

//     .btn-rwd {
//         animation: width-anim 0.4s;
//         width: 74px;
//     }

//     .btn-rwd-text {
//         display: none !important;
//     }

//     .btn-rwd-icon {
//         display: block !important;
//     }
// }

// @media (min-width: 1462px) {

//     .btn-rwd {
//         animation: width-anim-longer 0.4s;
//         width: 150px;
//     }

//     .btn-rwd-text {
//         white-space: nowrap;
//         display: block !important;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }

//     .btn-rwd-icon {
//         display: none !important;
//     }
// }

.btn-rwd-icon {
    display: none;
}

.btn-rwd-text {
    white-space: nowrap;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes width-anim {
    0% {
        width: 150px;
    }

    100% {
        width: 74px;
    }
}

@keyframes width-anim-longer {
    0% {
        width: 74px;
    }

    100% {
        width: 150px;
    }
}

.btn-p-md {
    padding: 6px 12px;
}