input[type="checkbox"].dashboard-switch-input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.dashboard-switch-label {
    // width: 500px;
    // height: 150px;
    width: 60px;
    height: 32px;
    display: block;
    background-color: #477a85;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
}

.dashboard-switch-label::after {
    content: "";
    // width: 120px;
    // height: 120px;
    width: 28px;
    height: 28px;
    background-color: #f00;
    position: absolute;
    border-radius: 70px;
    // top: 15px;
    // left: 15px;
    top: 1.7px;
    left: 3px;
    transition: 0.5s;
    z-index: 2;
}




.dashboard-switch-input:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.dashboard-switch-input:checked+label {
    background-color: #243d42;
}

.dashboard-switch-label:active:after {
    width: 60px;
}

.switch-standard-mode {
    z-index: 3;
}