.mb-16 {
    margin-bottom: 16px;
}

.mb-form-row {
    margin-bottom: 38px;
}

.mb-7 {
    margin-bottom: 66px;
}

.mb-lg {
    margin-bottom: 18px;
}

.mb-xl {
    margin-bottom: 20px;
}

.mb-xxxl {
    margin-bottom: 24px;
}