.h-xl {
    height: 25px;
}

.h-xxl {
    height: 50px;
}

.h-xxxl {
    height: 60px;
}

.h-xxxxl {
    height: 103px;
}

.w-img-col {
    max-width: 350px;
}

.h-col-lg {
    height: 350px;
}

.w-85-important {
    width: 85% !important;
}

// .h-max-100vh {
//     max-height: 100vh;
// }