.object-fit-contain {
    object-fit: contain;
}

.img-upload-block {
    height: 180px;
    background-color: #ebedef;
}

.vxe-cell img {
    width: 100% !important;
    height: auto !important;
    padding: 1px;
    max-width: 100px !important;
    max-height: 100px !important;
}

.background-size-cover {
    background-size: cover;
}

.img-default-bg {
    background: $no-content-bg;
}