.page_header {
    margin-bottom: 20px;
}

.page_operation {
    margin-bottom: 12px;}

$main-container-width: 680px;
.main-container {
    width: $main-container-width
}

.login-container {
    max-width: 376px;
}
